$font-main: 'Montserrat', sans-serif;

$font-size-main: 14px;
$font-xxs: 10px;
$font-xs: 12px;
$font-s: 16px;
$font-m: 18px;
$font-l: 20px;
$font-xl: 30px;
$font-xxl: 36px;

$color-r: #E27866;
$color-g: #41D395;
$color-g-hover: #2fad78;
$color-b: #6696E2;
$color-light: white;
$color-grey: #F5F5F5;
$color-dark-grey: #D8D8D8;
$color-dark: #1C1C1C;
$color-overlay-dark: #1c1c1cba;
$color-overlay-one: #e2786677;
$color-overlay-two: #6695e277;

